<!-- <div>placeholder for the signin</div> -->

<div class="container mt-5 d-flex justify-content-center">
  <div class="card shadow" style="width: 400px">
    <div class="card-header text-center bg-primary text-white">
      <h4>Sign In</h4>
    </div>
    <div class="card-body">
      <form #fg="ngForm" (ngSubmit)="checkUser(fg)">
        <div class="form-group mb-3">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            [(ngModel)]="users.email"
            required
          />
        </div>
        <div class="form-group mb-3">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            [(ngModel)]="users.password"
            required
          />
        </div>
        <button type="submit" class="btn btn-success w-100">Sign In</button>
      </form>
    </div>
  </div>
</div>
